{% extends 'index.html' %}

{% block content %}
    <h1>Login Page</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
            </div>

        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Log in</button>
    </form>
    <hr>
    <small class="text-nuted">
        Not registered yet?<a href="{% url 'register' %}">Sign up</a>

    </small>
{% endblock  %}